.inputFileWithPreview {
  position: relative;
  width: 100%;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  label {
    cursor: pointer;

    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    width: 99.9%;
    padding: 6px;

    white-space: nowrap;

    background-color: var(--color-dark-300);
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .errorMessage {
    position: absolute;
    right: 0;
    left: 0;

    color: var(--color-danger-300);
    text-align: center;
  }

  input:focus-visible + label {
    outline: -webkit-focus-ring-color auto 5px;
  }
}
