.header {
  width: 100%;
  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 79%;
    margin: auto;
    padding: 12px 0;
  }

  .logo {
    width: 157px;
    height: 36px;
    transition: transform 0.4s;

    &:hover {
      transform: translateX(10px);
      transition: transform 0.4s;
    }
  }
}
