.checkbox {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  align-items: center;

  width: fit-content;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  color: var(--color-light-100);
}

.checkboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  transition: background-color 0.4s;

  .checkboxCheckedIcon,
  .checkboxUncheckedIcon {
    width: 18px;
    height: 18px;
  }

  &[data-state='checked'] .checkboxUncheckedIcon {
    display: none;
  }

  .checkboxIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus-visible,
  &:active {
    background-color: var(--color-dark-100);
    outline: none;
  }

  &[data-disabled] {
    background-color: transparent;

    .checkboxCheckedIcon {
      rect {
        fill: var(--color-light-700);
      }

      path {
        fill: var(--color-dark-100);
      }
    }

    .checkboxUncheckedIcon {
      fill: var(--color-dark-100);
    }
  }

  &[data-disabled] + label {
    color: var(--color-dark-100);
  }
}
