.backLink {
  display: flex;
  gap: 10px;
  align-items: center;

  margin-bottom: 33px;

  color: var(--color-light-100);

  transition: all 0.4s;

  svg {
    transition: fill 0.4s;
  }

  &:hover,
  &:focus-visible {
    transform: translateY(2px);
    color: var(--color-accent-300);

    svg {
      fill: var(--color-accent-300);
    }
  }
}
