.button {
  cursor: pointer;

  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 6px 28px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: var(--line-height-m);
  text-decoration: none;

  border: transparent;
  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  svg {
    width: 16px;
    height: 16px;
    fill: var(--color-light-100);
  }
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  transition: background-color 0.4s;

  &:hover {
    background-color: var(--color-accent-300);
    transition: background-color 0.4s;
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);
  transition: background-color 0.4s;

  &:hover {
    background-color: var(--color-dark-100);
    transition: background-color 0.4s;
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
