.appPagination {
  display: flex;
  gap: 24px;
  width: 535px;
}

.selectWithText {
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  align-items: center;
}

@media (width <= 560px) {
  .appPagination {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
