.input {
  all: unset;
  cursor: pointer;
  min-width: 250px;
  min-height: 30px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  width: 284px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--dark-300, #4C4C4C);
  background-color: black;

}
::placeholder{
  padding-left: 12px;
  color: var(--dark-100, #808080);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
