input {
  all: unset;
  cursor: pointer;
  min-width: 284px;
  min-height: 36px;
  max-width: 284px;
  max-height: 36px;
  box-sizing: border-box;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.textInput{
  margin-bottom: 0.5px;
  color: var(--Dark-100, #808080);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.primary, .tertiary {
  max-width: 284px;
  max-height: 36px;
  position: relative;
  width: 284px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--dark-300, #4C4C4C);
  background-color: black;

}
.primary:hover, .tertiary:hover {
  color: #808080;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  background-color: #2e2e2e;
  border: 1px solid #808080;
}

.primary input:active, .tertiary input:active{
  outline: 2px solid white;
  width: 284px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  background-color: black;
}

.primary:active::placeholder, .tertiary:active::placeholder{
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}


.primary:focus, .tertiary:focus {
  outline: none;
  color: white;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  background-color: black;
  border: 2px solid #2f68cc;
}

.primary:focus::placeholder, .tertiary:focus::placeholder{
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.primary:disabled, .tertiary:disabled {
  color: #4C4C4C;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  background-color: black;
  border: 1px solid #4C4C4C;
}




.inputClass{
  position: relative;
  width:fit-content;
}
.passwordControl {
  position: absolute;
  top:8px;
  right: 12px;
  width: 20px;
  height: 20px;
  mask-image: url("/flashcards/src/utils/images/eyePassword.svg");
  -webkit-mask-image: url("/flashcards/src/utils/images/eyePassword.svg");
  background-color: white;
}


::placeholder{
  color: var(--dark-100, #808080);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.loupeSearch{
  position: absolute;
  top:8px;
  left: 12px;
  width: 20px;
  height: 20px;
  mask-image: url("/flashcards/src/utils/images/loupeSearch.svg");
  -webkit-mask-image: url("/flashcards/src/utils/images/loupeSearch.svg");
  background-color: white;
}

.tertiary, .loupeSearch input[type='text'] {
  padding-left: 41px;
}

.primary, .tertiary input[type='text'] {
  padding-left: 12px;
}

.crossDelete {
  position: absolute;
  top:10px;
  right: 10px;
  width: 16px;
  height: 16px;
  mask-image: url("/flashcards/src/utils/images/cross.svg");
  -webkit-mask-image: url("/flashcards/src/utils/images/cross.svg");
  background-color: white;
}


