.editNickname {
  padding-bottom: 84px;

  .header {
    margin: 0 auto 27px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profilePhoto {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 96px;
    height: 96px;

    background-color: var(--color-dark-100);
    border-radius: 50%;

    svg {
      width: 80%;
      height: 80%;
      fill: var(--color-light-100);
    }
  }

  .formTextField {
    width: 100%;
    margin-bottom: 26px;
  }
}
