.questionPage {
  width: 100%;
  max-width: 1008px;
}

.questionCard {
  padding: 33px 36px 48px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.deckTitle {
  margin-bottom: 45px;
  text-align: center;
  word-break: break-word;
}

.questionContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
  word-break: break-word;
}

.shots {
  color: var(--color-dark-100);
}

.nextQuestionButton {
  margin-top: 30px;
}

.formHeader {
  margin-bottom: 13px;
}

.image {
  width: 100%;
}

@media (width <= 767px) {
  .questionCard {
    padding: 13px 16px 28px;
  }
}
