.questionPage {
  width: 100%;
  max-width: 1008px;
}

.questionCard {
  padding: 33px 36px 48px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.deckTitle {
  margin-bottom: 45px;
  text-align: center;
}

.questionContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.shots {
  color: var(--color-dark-100);
}

.backLink {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;

  margin-bottom: 36px;

  &:hover {
    transform: translateY(2px);
    color: var(--color-accent-300);
    transition: all 0.4s;

    svg {
      fill: var(--color-accent-300);
      transition: all 0.4s;
    }
  }
}

.nextQuestionButton {
  margin-top: 30px;
}

.formHeader {
  margin-bottom: 13px;
}
