.radioRoot {
  display: flex;
  flex-direction: column;
}

.radioItem {
  display: flex;
  align-items: center;
}

.radioButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  &:focus-within {
    background-color: var(--color-dark-700);
    outline: none;
  }
}

.radioSign {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 2px solid var(--color-accent-500);
  border-radius: 50%;
}

.radioIndicator::after {
  content: '';

  display: block;
  flex-shrink: 0;

  width: 8px;
  height: 8px;

  background-color: var(--color-accent-500);
  border-radius: 50%;
}

.radioLabel {
  font-size: 14px;
}

.radioSign:focus-visible {
  outline: none;
}

.radioButton:hover {
  background-color: var(--color-dark-500);
}

.radioButton:active {
  background-color: var(--color-accent-900);
}

.disabled {
  color: var(--color-light-900);

  button {
    border: 2px solid var(--color-accent-900);
  }

  .radioIndicator::after {
    background-color: var(--color-accent-900);
  }
}

.disabled :hover {
  background-color: transparent;
}
