.radioRoot {
  display: flex;
  flex-direction: column;
}

.radioItem {
  display: flex;
  gap: 2px;
  align-items: center;
}

.radioButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  transition: background-color 0.4s;

  &:focus-within {
    background-color: var(--color-dark-700);
    outline: none;
  }

  &:has(.radioSign:hover) {
    background-color: var(--color-dark-500);
    transition: background-color 0.4s;
  }

  &:has(.radioSign:active) {
    background-color: var(--color-accent-900);
  }

  &:has(.radioSign:disabled) {
    background-color: transparent;
  }
}

.radioSign {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 2px solid var(--color-accent-500);
  border-radius: 50%;

  &:focus-visible {
    outline: none;
  }
}

.radioIndicator::after {
  content: '';

  display: block;
  flex-shrink: 0;

  width: 8px;
  height: 8px;

  background-color: var(--color-accent-500);
  border-radius: 50%;
}

.radioLabel {
  cursor: pointer;
  font-size: 14px;
}

.disabled {
  color: var(--color-light-900);

  .radioSign,
  .radioLabel {
    cursor: unset;
  }

  button {
    border: 2px solid var(--color-accent-900);
  }

  .radioIndicator::after {
    background-color: var(--color-accent-900);
  }

  & :hover {
    background-color: transparent;
  }
}
