.sortButton {
  display: flex;
  gap: 5px;
  align-items: center;

  &:focus-visible {
    border-radius: 2px;
    outline: 1px solid var(--color-light-100);
    outline-offset: 1px;
  }
}

.ascArrow {
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.descArrow {
  transition: transform 0.5s;
}
