.editProfileContainer {
  width: 100%;
  max-width: 1008px;
}

.editProfile {
  margin: auto;

  .header {
    margin: 0 auto 27px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profilePhoto {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 96px;
    height: 96px;

    background-color: var(--color-dark-100);
    border-radius: 50%;

    svg {
      width: 80%;
      height: 80%;
      fill: var(--color-light-100);
    }

    .file {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .img {
    border-radius: inherit;
  }

  .formTextField {
    width: 100%;
    margin-bottom: 26px;
  }

  .cancelButton {
    margin-top: 16px;
  }

  .name {
    display: flex;
    gap: 9px;
    align-items: center;
    margin: 16px 0 10px;

    button {
      all: unset;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &:focus-visible {
        border-radius: 2px;
        outline: 1px solid var(--color-light-100);
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .email {
    margin-bottom: 13px;
    color: var(--color-dark-100);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 16px;
}

@media (width <= 400px) {
  .buttons {
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
