.editProfile {
  .header {
    margin: 0 auto 27px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profilePhoto {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 96px;
    height: 96px;

    background-color: var(--color-dark-100);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    svg {
      width: 80%;
      height: 80%;
      fill: var(--color-light-100);
    }

    .file {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .formTextField {
    width: 100%;
    margin-bottom: 26px;
  }

  .cancelButton {
    margin-top: 16px;
  }

  .name {
    display: flex;
    gap: 9px;
    align-items: center;
    margin: 16px 0 10px;

    button {
      all: unset;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .email {
    margin-bottom: 13px;
    color: var(--color-dark-100);
  }

  .logoutButton {
    margin-bottom: 16px;
  }
}
